.verificacion-exitosa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
  background-color: #000;

  min-height: 100vh;
  padding: 2rem;
}


.verificacion-exitosa h1 {
  font-size: 6rem;
  color: #ffcc00;
}

.verificacion-exitosa h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.verificacion-exitosa p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.verificacion-exitosa a {
  color: #66b2ff;
  
}

.boton-login{
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;


  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verificacion-exitosa a:hover {
  text-decoration: underline;
}
